.photo-grid {
  max-width: 1184px;
  padding-top: 92px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    width: calc(100vw - 48px *2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
    width: calc(100vw - 24px *2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    padding-top: 64px;
    width: calc(100vw - 16px *2);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}