.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 12px 0 0 0;
  color: #FFFFFF;
  transition: opacity .2s linear;
}

.place__link:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .place__link {
    max-width: 288px;
    margin-left: 16px;
  }
}