.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  grid-template-areas: 
  "place__title place__website"
  "place__image place__paragraph"
  "place__image place__paragraph";
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}


@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: 390px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    grid-template-areas: 
    "place__title"
    "place__website"
    "place__image"
    "place__paragraph";
    margin-bottom: 50px;
  }
}