.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #AAAAAA;
  margin: 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 500px) {
  .place__url-heading {
    max-width: 288px;
    margin-left: 16px;
  }
}